@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.bodytext {
  margin-bottom: 10px;
}

.poetry {
  margin-bottom: 10px;
}

.psasuper {
  font-style: italic;
  margin-bottom: 10px;
}

@media (min-width:320px) {
  .bodytext {
      width: 250px;
  }

  .poetry {
    width: 250px;
  }
  
  .psasuper {
     width: 250px;
  }
}

@media (min-width: 400px) {
  .bodytext {
      width: 320px;
  }

  .poetry {
    width: 320px;
  }
  
  .psasuper {
    width: 320px;
  }
}

@media (min-width: 500px) {
  .bodytext {
      width: 380px;
  }

  .poetry {
    width: 380px;
  }
  
  .psasuper {
    width: 380px;
  }
}

@media (min-width:801px) {
  .bodytext {
      width: 550px;
  }

  .poetry {
    width: 550px;
  }
  
  .psasuper {
    width: 550px;
  }
}

@media (min-width:1025px) {
  .bodytext {
      width: 700px;
  }

  .poetry {
    width: 700px;
  }
  
  .psasuper {
    width: 700px;
  }

  #previousChapSpan {
    -webkit-transition: margin 0.2s ease-out;
    -moz-transition: margin 0.2s ease-out;
    -o-transition: margin 0.2s ease-out;
    transition: margin 0.2s ease-out;
  }

  #previousChapSpan:hover {
    margin-top: -10px;
  }

  #nextChapSpan {
    -webkit-transition: margin 0.2s ease-out;
    -moz-transition: margin 0.2s ease-out;
    -o-transition: margin 0.2s ease-out;
    transition: margin 0.2s ease-out;
  }

  #nextChapSpan:hover {
    margin-top: -10px;
  }
}

@media (min-width: 1281px) {
  .bodytext {
      width: 750px;
  }

  .poetry {
    width: 750px;
  }
  
  .psasuper {
    width: 750px;
  }
}

.credit-div span {
  background-image: linear-gradient(120deg, rgb(147, 197, 253), rgb(147, 197, 253) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
}

.credit-div span:hover {
  background-size: 100% 88% !important;
}

#header-image {
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}
